{% extends 'base.html.twig' %}

{% block title %}Log in!
{% endblock %}

{% block body %}
	{# {% if is_granted('ROLE_USER') %} 
								 {% if ($this->getUser()) %} 
								    {{return $this->redirectToRoute('app_articles_index', [], Response::HTTP_SEE_OTHER);}}
								{% else %} #}
	<form method="post" class="">

		{% if error %}
			<div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
		{% endif %}

		{% if app.user %}
			<div class="mb-3">
				Vous êtes connecté en tant que
				{{ app.user.userIdentifier }},
				<a href="{{ path('app_logout') }}">Logout</a>
			</div>

		{% endif %}

		<h1 class="h3 mb-3 mt-4 font-weight-normal text-center">Connexion</h1>
		<div class="container card text-center border border-primary border-4 rounded">
			<div class="row">
				<div class="col align-self-center mt-4">
					<label for="inputUsername">Nom d'utilisateur</label>
					<input type="text" value="{{ last_username }}" name="username" id="inputUsername" class="form-control row-6 center" autocomplete="username" required autofocus>
				</div>
			</div>
			<div class="row">
				<div class="col align-self-center mt-2">
					<label for="inputPassword">Mot de passe</label>
					<input type="password" name="password" id="inputPassword" class="form-control" autocomplete="current-password" required>
				</div>
			</div>
			<input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">
			<div class="row">
				<div class="col align-self-center mt-2 mb-4">
					<button class="btn btn-lg btn-primary" type="submit">
						Connexion
					</button>
				</div>
			</div>
		</div>
	</div>
</form>
{# {% endif %} #}{% endblock %}
