{% extends 'base.html.twig' %}

{% block title %}Articles index
{% endblock %}

{% block body %}
	<h1 class="text-center">Articles</h1>
	<div class="text-center">
		<a href="{{ path('app_articles_new') }}" class="btn btn-primary" role="button">Créer un nouvel article</a>
	</div>
	<div class="container">
			{% for article in articles %}
				<div class="card mt-md-2 " >
  					<div class="card-body text-center #0d6efd">
    					<h5 class="card-title">{{ article.titre }}</h5>
				    	<p class="card-text">{{ article.Article }}</p>
						{# <h10 class="card-subtitle mb-2 text-muted">{{ article.id }}</10> #}
		    			<h6 class="card-subtitle mb-2 text-muted">{{ article.user.username }}</h6>
		    			<h7 class="card-subtitle mb-2 text-muted">{{ article.date ? article.date|date('Y-m-d') : '' }}</h7>
						<a href="{{ path('app_articles_show', {'id': article.id}) }}" class="card-link">Voir l'article et ses commentaires</a>
					</div>
				</div>
			{% else %}		
					<p colspan="4">Aucun article trouvé</p>
			{% endfor %}
	</div>

	<div class="text-center mt-md-2">
		<a href="{{ path('app_articles_new') }}" class="btn btn-primary " role="button">Créer un nouvel article</a>
	</div>
{% endblock %}
