{% extends 'base.html.twig' %}

{% block title %}Articles index{% endblock %}

{% block body %}
    <h1>Articles</h1>
    <a href="{{ path('app_articles_new') }}" class="btn btn-primary">Créer un nouvel article</a>

    <table class="table table-dark">
        <thead>
            <tr>
                <th class="col">Id</th>
                <th class="col">Article</th>
                <th class="col">Date</th>
                <th class="col">actions</th>
            </tr>
        </thead>
        <tbody>
        {% for article in articles %}
            <tr>
                <td>{{ article.id }}</td>
                <td>{{ article.Article }}</td>
                <td>{{ article.date ? article.date|date('Y-m-d') : '' }}</td>
                <td>
                    <a href="{{ path('app_articles_show', {'id': article.id}) }}">show</a>
                    <a href="{{ path('app_articles_edit', {'id': article.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="4">no records found</td>
            </tr>   
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_articles_new') }}" class="btn btn-primary">Créer un nouvel article</a>
{% endblock %}
