{% extends 'base.html.twig' %}

{% block title %}Articles index
{% endblock %}

{% block body %}
	<h1 class="text-center">Articles</h1>
	<div class="text-center">
		<a href="{{ path('app_articles_new') }}" class="btn btn-primary" role="button">Créer un nouvel article</a>
	</div>
	<table class="table table-dark">
		<thead>
			<tr>
				<th class="col">Id</th>
				<th class="col">Titre</th>
				<th class="col">Article</th>
				<th class="col">Date</th>
				<th class="col">User</th>
				<th class="col">actions</th>
			</tr>
		</thead>
		<tbody>
			{% for article in articles %}

				<tr>
					<td>{{ article.id }}</td>
					<td>{{ article.titre }}</td>
					<td>{{ article.Article }}</td>
					<td>{{ article.date ? article.date|date('Y-m-d') : '' }}</td>
					<td>{{ article.user.username }}</td>
					<td>
						<a href="{{ path('app_articles_show', {'id': article.id}) }}">show</a>
						<a href="{{ path('app_articles_edit', {'id': article.id}) }}">edit</a>
					</td>
				</tr>
			{% else %}
				<tr>
					<td colspan="4">no records found</td>
				</tr>
			{% endfor %}
		</tbody>
	</table>

	<div class="text-center">
		<a href="{{ path('app_articles_new') }}" class="btn btn-primary" role="button">Créer un nouvel article</a>
	</div>
{% endblock %}
