{% extends 'base.html.twig' %}

{% block title %}Articles
{% endblock %}

{% block body %}
	<h1>Articles</h1>

<<<<<<< HEAD
    <table class="table table-dark">
        <tbody>
            <tr>
                <th class="col">Id</th>
                <td>{{ article.id }}</td>
            </tr>
            <tr>
                <th class="col">Titre</th>
                <td>{{ article.titre }}</td>
            </tr>
            {# <tr>
                <th class="col">Contenu</th>
                <td>{{ article.User_Id }}</td>
            <tr> #}
                <th class="col">Article</th>
                <td>{{ article.Article }}</td>
            </tr>
=======
	<table class="table table-dark">
		<tbody>
			<tr>
				<th class="col">Id</th>
				<td>{{ article.id }}</td>
			</tr>
			<tr>    
				<th class="col">Article</th>
				<td>{{ article.Article }}</td>
			</tr>
			<tr>
				<th class="col">Date</th>
				<td>{{ article.date ? article.date|date('Y-m-d') : '' }}</td>
			</tr>
		</tbody>
	</table>
	{# {{ include('comments/new.html.twig') }}  #}
    {# {{ dump(comment.vars.data) }} #}
	{# <table class="table">
        <thead>
>>>>>>> b12cba42dd232577b4d22083e3d43b9865c9fb02
            <tr>
                <th>user Id</th>
                <th>article_id</th>
                <th>comment</th>
                {# <th>Actions</th> #}
            </tr>
		<tbody>
			{# {% for comment in comments %}
				<tr>
					<td>{{ comment.user_id }}</td>
					<td>{{ comment.article_id }}</td>
					<td>{{ comment.comment}}</td>
				{% endfor %}
			</tbody>
		</tbody>
	</table> #} 

	<a href="{{ path('app_articles_index') }}">back to list</a>

	<a href="{{ path('app_articles_edit', {'id': article.id}) }}">edit</a>

	{{ include('articles/_delete_form.html.twig') }}
{% endblock %}
