{% extends 'base.html.twig' %}

{% block title %}Articles
{% endblock %}

{% block body %}
	<h1 class="text-center mt-md-4">
		<u>Articles</u>
	</h1>
	<div class="card mt-md-4">
		<div class="card-body text-center">
			<h5 class="card-title">{{ article.titre }}</h5>
			<p class="card-text">{{ article.Article }}</p>
			<h6 class="card-subtitle mb-2 text-muted">{{ article.user.username }}</h6>
			<h7 class="card-subtitle mb-2 text-muted">{{ article.date ? article.date|date('Y-m-d') : '' }}</h7>
		</div>
	</div>
	<div class="container text-center mt-md-2">
		<a href="{{ path('app_articles_index') }}" class="text-center mt-md-2">Retour aux Articles</a>
		<h4 class=" mt-md-4">Commentaires (
			{{article.comments|length}}
			)</h4>


		{# <pre>
								{{ dump(comments) }}
							</pre> #}
		<div class="row justify-content-md-center">
			{% for comment in comments %}
				<div class="card text-center  mt-md-2 col-lg-8	">
					<div class="card-body">
						<p class="card-text">{{comment.Comment}}</p>
						<h7 class="card-subtitle mb-2 text-muted">Auteur:
							{{comment.user.username}}</h7>
					</div>
				</div>
			{% endfor %}
		</div>
		<a href="{{ path('app_articles_index') }}" class="text-center mt-md-2">Retour aux Articles</a>
	</div>
	<div class="row justify-content-md-center">
	<div class="card text-center  mt-md-2 col-lg-8	mb-2">
		<div class="card-body">
			{{ form(form)}}
		</div>
	</div>
	</div>
		{% if(is_granted('ROLE_ADMIN')) %}
			{{ include('articles/_delete_form.html.twig') }}
		{% endif %}
	{% endblock %}
