{% extends 'base.html.twig' %}

<<<<<<< HEAD
{% block title %}Edit comments{% endblock %}

{% block body %}
    <h1>Edit comments</h1>

    {{ include('comments/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('app_Comments_index') }}">back to list</a>
=======
{% block title %}Edit Comments{% endblock %}

{% block body %}
    <h1>Edit Comments</h1>

    {{ include('comments/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('app_comments_index') }}">back to list</a>
>>>>>>> b12cba42dd232577b4d22083e3d43b9865c9fb02

    {{ include('comments/_delete_form.html.twig') }}
{% endblock %}
