{% extends 'base.html.twig' %}

<<<<<<< HEAD
{% block title %}Commentaires index{% endblock %}

{% block body %}
<h1>Commentaires</h1>
<table class="table table-dark">
        <thead>
            <tr>
                <th class="col">Id</th>
                <th class="col">commentaire</th>
                <th class="col">Date</th>
                <th class="col">actions</th>
            </tr>
        </thead>
        <tbody>
        {% for comment in Comments %}
            <tr>
                <td>{{ comment.id }}</td>
                <td>{{ comment.comments }}</td>
                <td>{{ comment.date ? comment.date|date('Y-m-d') : '' }}</td>
                <td>
                    <a href="{{ path('app_articles_show', {'id': article.id}) }}">show</a>
                    <a href="{{ path('app_articles_edit', {'id': article.id}) }}">edit</a>
=======
{% block title %}Comments index{% endblock %}

{% block body %}
    <h1>Comments index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Comment</th>
                <th>Date</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for comment in comments %}
            <tr>
                <td>{{ comment.id }}</td>
                <td>{{ comment.Comment }}</td>
                <td>{{ comment.date ? comment.date|date('Y-m-d') : '' }}</td>
                <td>
                    <a href="{{ path('app_comments_show', {'id': comment.id}) }}">show</a>
                    <a href="{{ path('app_comments_edit', {'id': comment.id}) }}">edit</a>
>>>>>>> b12cba42dd232577b4d22083e3d43b9865c9fb02
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="4">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
<<<<<<< HEAD
    <a href="{{ path('app_Comments_new') }}">Create new</a>

=======

    <a href="{{ path('app_comments_new') }}">Create new</a>
>>>>>>> b12cba42dd232577b4d22083e3d43b9865c9fb02
{% endblock %}
