{% extends 'base.html.twig' %}

{% block title %}Comments
{% endblock %}

{% block body %}
	<h1>Commentaires</h1>

	<table class="table table-dark">
		<thead>
			<tr>
				<th class="col">Id</th>
				<th class="col">Comment</th>
				<th class="col">User</th>
				<th class="col">Date</th>
				<th class="col">Article</th>
			</tr>
		</thead>
		<tbody>
			<tr>
				<td>{{ Comments.id }}</td>
				<td>{{ Comments.Comment }}</td>
				<td>{{  Comments.User.username }}</td>
				<td>{{ Comments.date ? Comments.date|date('Y-m-d') : '' }}</td>
				<td>{{ Comments.Article.id }}</td>
			</tr>
		</tbody>
	</table>
	<div class="text-center">
		<a href="{{ path('app_Comments_index') }}"class="btn btn-primary">back to list</a>
	</div>
{% endblock %}
