{% extends 'base.html.twig' %}

{% block title %}Comments
{% endblock %}

{% block body %}
	<h1>Commentaires</h1>

	<table class="table table-dark">
		<thead>
			<tr>
				<th class="col">Id</th>
				<th class="col">Comment</th>
				<th class="col">User</th>
				<th class="col">Date</th>
				<th class="col">Article</th>
				<th class="col">Actions</th>
			</tr>
		</thead>
		<tbody>
			<tr>
				<td>{{ Comments.id }}</td>
				<td>{{ Comments.Comment }}</td>
				<td>{{  Comments.User.username }}</td>
				<td>{{ Comments.date ? Comments.date|date('Y-m-d') : '' }}</td>
				<td>{{ Comments.Article.id }}</td>
				<td><a href="{{ path('app_Comments_edit', {'id': Comments.id}) }}">edit</a></td>
			</tr>
		</tbody>
	</table>

	<a href="{{ path('app_Comments_index') }}">back to list</a>
{% endblock %}
